{% extends "stream/base-no-side-bar.html" %}
{% load static %}

{% block content %}
<div class="col-md-12" >
    <div class="content-section" style="position: fixed; width: 90% !important;"> 
    <h1>Friends List</h1>
    <h4 class='text-muted'>List of Followers you have:
        {% for follower in followers %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">{{ follower.user.username }}</li>
        </ul>
        {% endfor %}
    </h4>
    </div>
</div>
{% endblock content %}