{% extends "stream/base-no-side-bar.html" %}

{% block content %}
  <h2>Inbox</h2>
  {% if request.user.profile.inbox.all %}
    {% for message in request.user.profile.inbox.all %}
    {% for friend_request in message.friend_requests.all %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ friend_request.type }} request:</h5>
          <p class="card-text">{{ friend_request.actor }} wants to follow you</p>
            <form method="POST" action="{% url 'accept' id=friend_request.id %}">
            <input type="hidden" name="profile_id" value="{{user.profile.id}}">
            {% csrf_token %}
            <div class="btn-group" role="group">
            <button type="submit" class="btn btn-success mx-2" name="accept" value="{{ friend_request.id }}">Accept</button>
            <button type="submit" class="btn btn-danger mx-2" name="delete" value="{{ friend_request.id }}">Delete</button>
            </div>
          </form>
        </div>
      </div>
    {% endfor %}
    {% endfor %}
  {% else %}
    <p>You have no friend requests</p>
  {% endif %}
{% endblock content %}
